body {
  background-color: whitesmoke;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  max-width: 900px;
  margin: 0 auto;
}


.App-header {
  display: inline-block;
  background-color: #74362c;
  overflow: visible;
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 8px;

}

h1 {
  display: inline-block;
  margin-left: 15px;
}

.My-icon {
  width: 28px;
  height: 28px;
}


.Messages-wrapper {
  box-sizing: border-box;
  height: 80%;
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
  background:
    linear-gradient(360deg, rgba(255, 255, 254, 0.95), rgba(255, 255, 254, 0.95)),
    url('../public/imgs/telephone.jpg'), center/cover no-repeat;

}


.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: visible;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}


.Messages-message.currentMember {
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember>.Message-content {
  align-items: flex-end;
}


.Message-user {
  display: flex;
  gap: 12px;
  align-items: center;
  padding-bottom: 8px;
}

.color {
  height: 14px;
  width: 14px;
  border-radius: 50%;
}

.text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
  overflow-wrap: break-word;
  text-align: left;
  box-shadow: -5px 5px #757425;
}

.currentMember>.Message-content .text {
  background-color: #91b6c7;
  box-shadow: -5px 5px #6e2575;
}


form {
  background-color: #21973b;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

input {
  padding: 5px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: -5px 5px #622575;
  flex-grow: 1;
  border: none;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: whitesmoke;
  ;
  color: #21978B;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
}

button:disabled {
  background-color: black;
  color: whitesmoke;
}


.App-footer {
  background-color: #2b9721;
  overflow: visible;
  width: 100%;
  height: 30px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}